:root {
  --white: #ffffff;
  --black: #242424;
  --purple: #6b0ba7;
  --blue: #6ccff6;
  --light-blue: #50d8d7;
  --red: #cf7664;
}

:root {
  --background-color: var(--black);
  --compliment-color: var(--purple);
  --opposite-color: var(--white);
  --selected-color: var(--light-blue);
  --unselected-color: var(--red);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --nav-height: 2rem;
  --map-icon-size: 10px;
  --metro-img-size: 1.5rem;
  --nav-border-width: 2px;
}

/* Default flexbox */

.flex {
  display: flex;
  align-items: center;
}

/* Button with no styling */

.div-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
