:root {
  --white: white;
  --black: #242424;
  --purple: #b084cc;
  --blue: #6ccff6;
  --green: #18ff8f;
  --red: #d5573b;
}

:root {
  --background-color: var(--black);
  --compliment: var(--purple);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--background-color);
}

.flex {
  display: flex;
  align-items: center;
}
