/* Light mode */

.light {
  --background-color: var(--white);
  --compliment-color: var(--black);
  --opposite-color: var(--black);
}

/* Container */

.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
