* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --nav-height: 2rem;
}

/* Light mode */

.light {
  --background-color: var(--white);
  --compliment: var(--black);
}

/* Container */

.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* Nav stuff */

.site-nav {
  background-color: var(--compliment);
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.site-nav > :last-child {
  padding-right: 12px;
}

.nav-icon {
  margin-left: 12px;
  height: 75%;
}

.dropdown {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  z-index: 100;
  top: var(--nav-height);
  right: 0;
  font-size: 1rem;
  float: right;
  clear: right;
  width: fit-content;
  background-color: var(--compliment);
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 7px 7px;
}

.dropdown-content .metro-img {
  height: 1.5rem;
}

.dropdown-line {
  margin: 0.3rem 0;
}

/* Map stuff */

.map-background {
  width: 100%;
  background-color: var(--background-color);
  flex: 1;
}

.map {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 0;
}
