* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --nav-height: 2rem;
  --map-icon-size: 10px;
  --metro-img-size: 1.5rem;
}

/* Light mode */

.light {
  --background-color: var(--white);
  --compliment: var(--black);
  --opposite-color: var(--black);
}

/* Container */

.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* Nav stuff */

.site-nav {
  background-color: var(--compliment);
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.site-nav > :last-child {
  padding-right: 12px;
}

.nav-icon {
  margin-left: 12px;
  height: 75%;
}

.dropdown {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  z-index: 100;
  top: var(--nav-height);
  right: 0;
  font-size: 1rem;
  float: right;
  clear: right;
  width: fit-content;
  background-color: var(--compliment);
  border: 1px solid var(--background-color);
  border-width: 0 0 2px 2px;
  border-radius: 0 0 7px 7px;
}

.dropdown-content .metro-img {
  height: var(--metro-img-size);
  width: var(--metro-img-size);
}

svg.metro-img img.metro-img {
  width: 100%;
  height: 100%;
}

.dropdown-line {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.3rem 0;
  width: 100%;
}

/* Map stuff */

.map-background {
  width: 100%;
  background-color: var(--background-color);
  flex: 1;
}

.map {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  width: fit-content;
}

/* Background for map icon */
.leaflet-marker-icon.leaflet-div-icon {
  height: calc(var(--map-icon-size) + 8px) !important;
  width: calc(var(--map-icon-size) + 8px) !important;
  background: var(--background-color) !important;
  border: none !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--opposite-color) !important;
}

.map-icon {
  height: var(--map-icon-size);
  color: var(--opposite-color);
}

/* Map popup stuff */
.leaflet-popup-content-wrapper {
  width: fit-content !important;
  background-color: var(--opposite-color);
}

.leaflet-popup-content {
  width: fit-content !important;
}

.popup-data {
  width: fit-content;
}

.leaflet-popup-content h3 {
  white-space: nowrap;
  color: var(--background-color);
}

.map-popup-line {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}

.map-popup-line > img {
  height: 1.8rem;
  margin-right: 5px;
}

.map-popup-line > h3 {
  display: inline;
}
