:root {
  --metro-img-size: 1.5rem;
  --metro-img-size-mobile: 2rem;
}

/* Lines */
.line-toggles-container {
  max-height: calc(
    100dvh - var(--nav-height) - (2 * var(--dropdown-line-height))
  ) !important;
}

.operator-line {
  position: sticky;
  top: var(--nav-border-width);
  outline: var(--nav-border-width) solid var(--black);
}

.railway-line {
  margin-right: 2rem;
}

/* Show/hide all */
.control-all {
  position: sticky;
  top: 0;
  outline: var(--nav-border-width) solid var(--black);
}

/* Button stuff */

.dropdown-line.unselected {
  background-color: var(--unselected-color);
}

.dropdown-line.selected {
  background-color: var(--selected-color);
}

/* Images */

.metro-img,
.dropdown-icon {
  height: var(--metro-img-size);
  width: var(--metro-img-size);
  margin-right: 5px;
}

.metro-img {
  background-color: var(--black);
  border-radius: 20%;
}

.indent {
  margin-left: calc(var(--metro-img-size) + 5px);
}

/* Mobile */
@media screen and (max-aspect-ratio: 3/4) {
  /* Make nav bigger */
  :root {
    --metro-img-size: var(--metro-img-size-mobile);
  }
}
