/* Map stuff */
:root {
  --map-icon-size: 0.75rem;
  --map-icon-station-size: 0.875rem;
  --map-icon-total-size: calc(var(--map-icon-size) + 6px);
}

.map-background {
  width: 100%;
  height: inherit;
  background-color: var(--black);
  flex: 1;
}

.map {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  width: fit-content;
}

/* Map icon */
.map-icon-background {
  height: var(--map-icon-total-size);
  width: var(--map-icon-total-size);
  background: var(--black);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--white);
}

.leaflet-marker-icon.leaflet-div-icon {
  background: none;
  border: none;
}

.map-icon {
  height: var(--map-icon-size);
  color: var(--white);
}

.map-icon-stations-container {
  width: calc(var(--map-icon-total-size) * 4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateX(-37.5%);
}

.map-icon-station-div {
  flex: 0 0 var(--map-icon-total-size);
}

.map-icon-station {
  width: var(--map-icon-station-size);
  height: var(--map-icon-station-size);
}

/* Map popup stuff */
.leaflet-popup-content-wrapper {
  width: fit-content !important;
  background-color: var(--opposite-color) !important;
}

.leaflet-popup-tip {
  background-color: var(--opposite-color) !important;
}

.leaflet-popup-content {
  width: fit-content !important;
}

.popup-data {
  width: fit-content;
}

.leaflet-popup-content h3 {
  white-space: nowrap;
  color: var(--background-color);
}

.map-popup-line {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}

.map-popup-line > img {
  height: 1.8rem;
  margin-right: 5px;
}

.map-popup-line > h3 {
  display: inline;
}

/* Error msg */
.error-msg {
  position: fixed;
  margin-left: 12px;
  z-index: 999;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Mobile */
@media screen and (max-aspect-ratio: 3/4) {
  /* Make map icons smaller */
  :root {
    --map-icon-size: 0.6rem;
    --map-icon-station-size: 0.8rem;
    --map-icon-total-size: calc(var(--map-icon-size) + 6px);
  }
}
