/* Nav stuff */
* {
  --nav-height: 2rem;
  --nav-height-mobile: 3rem;
  --nav-border-width: 2px;
}

.site-nav {
  background-color: var(--compliment-color);
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  border-bottom: var(--nav-border-width) solid var(--black);
}

.site-nav > :last-child {
  padding-right: 12px;
}

.site-title {
  font-size: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.nav-icon {
  margin-left: 12px;
  height: 75%;
  color: var(--opposite-color);
}

.line-select-btn {
  margin-left: auto;
}

/* Mobile */
@media screen and (max-aspect-ratio: 3/4) {
  /* Make nav bigger */
  * {
    --nav-height: var(--nav-height-mobile);
  }
}
