.popup-content {
  position: fixed;
  top: calc(var(--nav-height) + 40dvh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  height: fit-content;
  width: 70%;
  min-width: 350px;
  max-width: 550px;
  background-color: var(--second-background-color);
  border: var(--nav-border-width) solid var(--black);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  padding: 5px;
}

.popup-content h1,
.popup-content h3,
.popup-content h4,
.popup-content a {
  color: var(--opposite-color);
  text-align: center;
}

.exit {
  color: var(--opposite-color);
  height: 1.5rem;
  margin-left: auto;
}

.popup-content h1 {
  font-size: 1.5rem;
}
