/* Images  */

.settings-icon {
  height: 80%;
  width: 3rem;
  color: var(--white);
}

.settings-icon.enlarge {
  height: 100%;
}

/* Settings */

.settings-line {
  height: 2.5rem;
}

.settings-label {
  margin-right: 5px;
}

.settings-line > * {
  margin-left: 7px;
}

.settings-line > *:first-of-type {
  margin-left: 0;
}

select {
  padding: 1px 15px;
  height: 85%;
  background-color: var(--background-color);
  color: var(--opposite-color);
  border-radius: 5px;
  outline: none;
  border: none;
  display: table;
  table-layout: fixed;
}
